* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.grid-main{
    background-color: white;
    display: grid;
    grid-template-columns: 10% auto 2% auto 10%;
    grid-template-rows: auto;
    grid-template-areas: 
    '. carp-p1 . carp-img1 .'
    '. carp-img2 . carp-p2 .'
    '. carp-p3 . carp-img3 .'
    '. carp-img4 . carp-p4 .'
    'typo-card typo-card typo-card typo-card typo-card'
    '. typo-info1 . tp-img1 .'
    '. tp-img2 . typo-info2 .'
    '. typo-info3 . tp-img3 .'
    '. tp-img4 . typo-info4 .'
    '. typo-info5 . tp-img5 .'
    '. tp-img6 . typo-info6 .'
    '. typo-info7 . tp-img7 .'
    '. tp-img8 . typo-info8 .';
}


/* HEADER INTRO*/
header {
    min-height: 100vh;
    width: 100;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/pic.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

/* NAVIGATION */
nav{
    background-color: rgba(4,9,30,0.7);
    display: flex;
    padding: 0% 6%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 90%;
    opacity: 75%;
}
nav img{
    width: 110px;
}

/* MENU */
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    
    
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;

}
.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: #FFE184;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

/* INTRO TEXT */
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 35px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
}

/* BUTTON INTRO */
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #FFE184;
    background: #FFE184;
    transition: 0.5s;
}

nav .fa{
    display: none;
}

/* MOBILE COMPATIBILITY */
@media(max-width: 700px){

    .grid-main{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
       

    }
    .text-box h1{
        font-size: 20px;
    }
.nav-links ul li{
    display: block;
}
.nav-links{
    position: absolute;
    background: #FFE184;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
}
nav .fa{
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
}
.nav-links ul{
    padding: 30px;
}
}
.CARP {
    background-color:#FFE184;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 3%;
    margin-top: 50px;
    transform: translate(0,-60px);
}

.TYPOGRAPHY {
    background-color: #B06461;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 3%;
    margin-top: 50px;
    transform: translate(0,-60px);
}

h1{
    font-size: 35px;
    font-weight: 600;
    
}
p{
    
    color: #0a0b1ece;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 20px;
}



/* CARP SECTION */

.carp-title {
    color: #0a0b1e;
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: 600;
    padding-bottom: 3%;
    align-items: center;
}


.carp1{
    font-size: 50px;
}

/* Paragraphs Styles */
.carp-p{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
    background-color: white;
    color: #FFE184;
    font-family: 'Poppins', sans-serif;
    padding-top: 15%;
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
  
}

.tp-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
}

.carp-par{
    background-color: white;
    color: #FFE184;
    font-family: 'Poppins', sans-serif;
    padding-top: 20%;
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

.carp-paragraph {
    display:block;
}
.carp-pa {
    background-color: white;
    color: #FFE184;
    font-family: 'Poppins', sans-serif;
    padding-top: 25%;
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

.carp-img{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
   
}

.carp-img img{
    background-color: white;
    vertical-align: middle;
    width: 75%;
}

#carp-p1{
    grid-area: carp-p1;

}

#carp-img1{
    grid-area: carp-img1;
    padding-left: 10%;
    width: 100%;
}

#carp-p2{
    grid-area: carp-p2;
}

#carp-img2{
    grid-area: carp-img2;
    padding-left: 10%;
    width: 100%;
}

#carp-p3{
    grid-area: carp-p3;
}

#carp-img3{
    grid-area: carp-img3;
    padding-left: 10%;
    width: 100%;
}

#carp-p4{
    grid-area: carp-p4;
}

#carp-img4{
    grid-area: carp-img4;
}

.img {
    margin-top: 15%;
    box-shadow: 0px 0px 20px;

 }

 .img2 {
    margin-top: 15%;
    box-shadow: 0px 0px 20px;

 }

 .img3 {
    margin-top: 15%;
    box-shadow: 0px 0px 20px;
 }
 
 /* TYPOGRAPHY */

 #typo-card{
   
    color: white;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7vw;
    margin-top: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    grid-area: typo-card;
}



.typo-title{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    font-size: 50px;
    padding-top: 30%;
    color:#B06461;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: normal;
}


.tp-title{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: 600;
    padding-bottom: 3%;
    padding-top: 3%;
    
}

.tp-img{
    margin: 5%;
}

.tp-img img{
    vertical-align: middle;
    width: 80%;
    margin-top: 15%;
    box-shadow: 0px 0px 10px;
}

#typo-info1{
    grid-area: typo-info1;
}

#tp-img1{
    grid-area: tp-img1;
}

#typo-info2{
    grid-area: typo-info2;
}

#tp-img2{
    grid-area: tp-img2;
}

#typo-info3{
    grid-area: typo-info3;
}

#tp-img3{
    grid-area: tp-img3;
}

#typo-info4{
    grid-area: typo-info4;
}

#tp-img4{
    grid-area: tp-img4;
}

#typo-info5{
    grid-area: typo-info5;
}

#tp-img5{
    grid-area: tp-img5;
}

#typo-info6{
    grid-area: typo-info6;
}

#tp-img6{
    grid-area: tp-img6;
}

#typo-info7{
    grid-area: typo-info7;
}

#tp-img7{
    grid-area: tp-img7;
}

#typo-info8{
    grid-area: typo-info8;
}

#tp-img8{
    grid-area: tp-img8;
}

 






