* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
  }
/* Grid templates reference https://developer.mozilla.org/en-US/docs/Web/CSS */
/* A past student's project had made me research further into grid templates for using as a main structure of my website - https://ollie-perry.github.io/Portfolio-Website/#top */

  .grid-main{
    background-color: white;
    display: grid;
    grid-template-columns: 10% auto 2% auto 10%;
    grid-template-rows: auto;
    grid-template-areas: 
    '. carp-p1 . carp-img1 .'
    '. carp-img2 . carp-p2 .'
    '. carp-p3 . carp-img3 .'
    '. carp-img4 . carp-p4 .'
    'typo-card typo-card typo-card typo-card typo-card'
    '. typo-info1 . tp-img1 .'
    '. tp-img2 . typo-info2 .'
    '. typo-info3 . tp-img3 .'
    '. tp-img4 . typo-info4 .'
    '. typo-info5 . tp-img5 .'
    '. tp-img6 . typo-info6 .'
    '. typo-info7 . tp-img7 .'
    '. tp-img8 . typo-info8 .'
    'css-card css-card css-card css-card css-card'
    '. html-info1 . html-img1 .'
    '. html-img2 . html-info2 .';
}


/* HEADER INTRO*/
header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/pic.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

/* NAVIGATION */
nav{
    background-color: rgba(4,9,30,0.7);
    display: flex;
    padding: 0% 6%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: -5px;
    width: 90%;
    opacity: 100%;
    z-index: 1000;
}

nav img{
    width: 110px;
}

/* MENU */
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    
    
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;

}
.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: #FFE184;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

/* INTRO TEXT */
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 35px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
}

/* BUTTON INTRO */
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #FFE184;
    background: #FFE184;
    transition: 0.5s;
    
}

nav .fa{
    display: none;
}





.CARP {
    background-color:#FFE184;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 3%;
    margin-top: 50px;
    transform: translate(0,-60px);
}

.TYPOGRAPHY {
    background-color: #B06461;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 3%;
    margin-top: 50px;
    transform: translate(0,-60px);
}

h1{
    font-size: 35px;
    font-weight: 600;
    
}
p{
    
    color: #0a0b1ece;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 0px 20px;
}



/* CARP SECTION */

.carp-title {
    color: #0a0b1e;
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: 600;
    padding-bottom: 3%;
    align-items: center;
}


.carp1{
    font-size: 50px;
}

/* Paragraphs Styles */
.carp-p{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
    background-color: white;
    color: #FFE184;
    font-family: 'Poppins', sans-serif;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
  
}

.tp-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
}

.carp-par{
    background-color: white;
    color: #FFE184;
    font-family: 'Poppins', sans-serif;
    padding-top: 20%;
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

.carp-paragraph {
    display:block;
}
.carp-pa {
    background-color: white;
    color: #FFE184;
    font-family: 'Poppins', sans-serif;
    padding-top: 20%;
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

.carp-img{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
   
}

.carp-img img{
    vertical-align: middle;
    width: 85%;
}

#carp-p1{
    grid-area: carp-p1;

}

#carp-img1{
    grid-area: carp-img1;
    padding-left: 10%;
    width: 80%;
}

#carp-p2{
    grid-area: carp-p2;
}

#carp-img2{
    grid-area: carp-img2;
    padding-left: 10%;
    width: 80%;
}

#carp-p3{
    grid-area: carp-p3;
}

#carp-img3{
    grid-area: carp-img3;
    padding-left: 10%;
    width: 80%;
}



.img {
    margin-top: 1%;
    box-shadow: 0px 0px 20px;

 }

 .img2 {
    margin-top: 15%;
    box-shadow: 0px 0px 20px;

 }

 .img3 {
    margin-top: 15%;
    margin-bottom: 10%;
    box-shadow: 0px 0px 20px;
 }
 






 /* TYPOGRAPHY */

 #typo-card{
   
    color: white;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7vw;
    margin-top: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    
    grid-area: typo-card;
}



.typo-title{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    font-size: 50px;
    padding-top: 30%;
    color:#B06461;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: normal;
}


.tp-title{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: 600;
    padding-bottom: 3%;
    padding-top: 3%;
    
}

.tp-img{
    margin: 5%;
}

.tp-img img{
    vertical-align: middle;
    width: 80%;
    margin-top: 15%;
    box-shadow: 0px 0px 10px;
}

#typo-info1{
    grid-area: typo-info1;
}

#tp-img1{
    grid-area: tp-img1;
}

#typo-info2{
    grid-area: typo-info2;
}

#tp-img2{
    grid-area: tp-img2;
}

#typo-info3{
    grid-area: typo-info3;
}

#tp-img3{
    grid-area: tp-img3;
}

#typo-info4{
    grid-area: typo-info4;
}

#tp-img4{
    grid-area: tp-img4;
}

#typo-info5{
    grid-area: typo-info5;
}

#tp-img5{
    grid-area: tp-img5;
}

#typo-info6{
    grid-area: typo-info6;
}

#tp-img6{
    grid-area: tp-img6;
}

#typo-info7{
    grid-area: typo-info7;
}

#tp-img7{
    grid-area: tp-img7;
}

#typo-info8{
    grid-area: typo-info8;
}

#tp-img8{
    grid-area: tp-img8;
}

/* HTML/CSS section */


.HTML {
    background-color: #0a0b1ef2;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 20%;
    margin-top: 100px;
    transform: translate(0,-60px);
}

.css-title{
    color: #FFE184;
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: 600;
    padding-bottom: 3%;
    padding-top: 3%;
}


#css-card{
    
    color: #ebebeb;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 7vw;
    margin-top: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    
    grid-area: css-card;
}

.html-info{
    background-color: #0a0b1e;
    font-family: 'Poppins', sans-serif;
    padding-top: 10%;
    padding-bottom: 0%;
    padding-left: 10%;
    padding-right: 10%;
    box-shadow: 0px 0px 70px;
    border-radius: 7px;
    
    padding-bottom: 10%;
    margin-bottom: 15%;
    
}

/* Html/css Buttons */
.html-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 12px 34px;
    font-size: 15px;
    border-radius: 40px 40px;
    
    
    background: transparent;
    position: relative;
    cursor: pointer;
}
.html-btn:hover{
    border: 1px solid #FFE184;
    background: #FFE184;
    transition: 0.5s;
    
}


/* HTML images */

.html-img{
    
    width: 100%;
}

.html-img img{
    vertical-align: middle;
    width: 100%;
    padding-top: 10%;
    
    
}

.PC {
    width: 100%;
    padding-top: 40%;
    
}

.html-title{
    color: #FFE184;
    font-size: 45px;
    padding: 1%;
    line-height: normal;
    
}


.info {
    color: white;
    padding-bottom: 50px;
}

#html-info1{
    grid-area: html-info1;
}

#html-img1{
    grid-area: html-img1;
}

#html-info2{
    grid-area: html-info2;
}

#html-img2{
    grid-area: html-img2;
}



/* UX SECTION */


.ux-title{
    color: #FFE184;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    padding-bottom: 8%;
    padding-top: 3%;
    line-height: normal;
}



/* REFERENCING */
/* https://www.w3schools.com/howto/howto_js_slideshow_gallery.asphttps://www.w3schools.com/howto/howto_js_slideshow_gallery.asp */
/* UX CAROUSEL */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  .mySlides {
    display: none;
    box-shadow: 0px 0px 50px;
  }
  
  
  /* Next/previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #131212;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    opacity: 100%;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: #ffe084;
    opacity: 80%;
  }

  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #ffe084e2;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #131212;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


  
/* REFLECTION SECTION */

  .reflection{
    background-color: #B06461;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 3%;
    margin-top: 50px;
    transform: translate(0,-60px);
}


.rf-title{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: 600;
    padding-bottom: 3%;
    align-items: center;
    
}

.ref-para {
    color: black;
    text-align: justify;
    line-height: normal;
    
   
} 

.ref-p {
    padding-left: 13%;
    padding-right: 13%;
}






  

























































/* https://web-eau.net/en/blog/10-best-footer-html-css-snippets */

/* FOOTER */


.container{
	max-width: 1170px;
	margin:auto
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #0a0b1ef3;
    padding: 70px 0;
    margin-top: 5%;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
    font-weight: 600;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #FFE184;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 50px;
	width: 50px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #FFE184;
}


/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}





 


/* MOBILE COMPATIBILITY */
@media(max-width: 700px){

    .html-img img{
        vertical-align: middle;
        width: 75%;
        padding-top: 10%;
        
        
    }

    .nav-links ul li::after{
        content:'';
        width: 0%;
        height: 2px;
        background: #0a0b1e;
        display: block;
        margin: auto;
        transition: 0.5s;
    }
    .nav-links ul li:hover::after{
        width: 100%;
    }


    .tp-img{
        margin: 5%;
        padding-left: 50px;
    }
    
    .tp-img img{
        padding-left: 50px;
        vertical-align: middle;
        width: 80%;
        margin-top: 15%;
        box-shadow: 0px 0px 10px;
    }



    nav{
        opacity: 100%;
    }

    .nav-links ul li a{
        color: #fff;
        text-decoration: none;
        font-size: 20px;
    
    }

    .grid-main{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
       

    }
    .text-box h1{
        font-size: 20px;
    }
.nav-links ul li{
    display: block;
}
.nav-links{
    position: absolute;
    background: #FFE184;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 1000;
    transition: 1s;
}
nav .fa{
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
}
.nav-links ul{
    padding: 30px;
}


.ref-para {
    color: black;
    text-align: justify;
    line-height: normal;
   
} 


}